<form [formGroup]="questionInputForm" (validSubmit)="!isEdit ? onSubmit(): onEdit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter Title" formControlName="Title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" formControlName="Description"></textarea>
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" class="form-control" id="tags" placeholder="tag1, tag2, tag3..." formControlName="Tags">
  </div>
  <div class="form-group">
    <label for="profilePic">Upload Image</label>
    <input type="file" class="form-control-file" id="profilePic" formControlName="Image">
  </div>
  <button type="submit" class="btn btn-primary" *ngIf="!isEdit">Post Your Question</button>
  <button type="submit" class="btn btn-primary" *ngIf="isEdit">Edit Your Question</button>
</form>
